*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 480px;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formContainer{
    background-color: rgb(58, 58, 58);
    width: 80%;
    height: 150px;
    
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}