*{
    padding: 0;
    margin:0;
}

body{
    position: relative;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
    background-color: #23262E;
    
}

fieldset{
    margin:5px
}

button{
    margin: 5px
}

h2{
    margin:5px;
    padding: 5px;
    text-align: center;
}




.cadastro_header{
    display: block;
    text-align: center;
    margin: 5px;
}

.container_cadastro{
    
    display: flex;    
    flex-grow: 1;
    justify-content: center;
    
    
}

.container{
    display: flex;
    position: absolute;
    flex-direction: row;
    padding: 16px 16px 8px 16px;
    background-color: rgba(64, 81, 99, 0.9);
    color: #b2b8bd;
    margin-bottom: 10px;
    width: calc(100%-32px);
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;   
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    border: 1px;
    border-color: aliceblue;
    border-style: solid;
    margin: 2px;
}

.img_container{
    width: 292px;
    height: 136px;
    position: relative;
    margin: 5px;
    
    

}

img{
    max-width: 100%;
    max-height: 100%;
    
}
